<header>
  <img
    src="assets/img/gui2.webp"
    alt="Guilherme dos Santos - Foto de Perfil"
    width="200rem"
    height="200rem"
    loading="eager"
  />
  <h1>Guilherme dos Santos</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor de Software | Fullstack | Java | Angular | Spring | SQL | Hibernate | Git</p>
    <p>Graduado em Análise e Desenvolvimento de Sistemas</p>
    <p></p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"
          >Download CV</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/guilherme-dos-santoss/" target="_blank" class="btn btn-secondary"
          >LinkedIn</a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do Whatsapp" width="22px" height="24px"/>
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5521993424743&text=Ol%C3%A1%20Guilherme.%20Vim%20por%20meio%20do%20seu%20portf%C3%B3lio,%20tudo%20bem?">

            <strong>Envie uma mensagem para:</strong>
            <p>Whatsapp: (21) 9 9342-4743</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px"/>
        <figcaption>
          <a href="mailto:prfsantosgui546@gmail.com">

            <strong>Envie um e-mail para:</strong>
            <p>prfsantosgui546&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
